<div class="nav-custom">

  <input type="checkbox" id="burger-toggle">

  <label for="burger-toggle" class="burger-menu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>

  <div class="menu">
    <div class="menu-inner">
      <ul class="menu-nav">
        <% if user_signed_in? %>
          <li class="menu-nav-item"><%= link_to "Home", root_path, class: "menu-nav-link" %> <span></span>
          </li>
          <li class="menu-nav-item"><%= link_to "Dashboard", "#", class: "menu-nav-link" %>
          </li>
          <li class="menu-nav-item"><%= link_to "Create Event", new_teacher_path, class: "menu-nav-link" %>
          </li>
          <li class="menu-nav-item"><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "menu-nav-link" %>
          </li>
        <% else %>
          <li class="menu-nav-item"><%= link_to "Login", new_user_session_path, class: "menu-nav-link" %>
          </li>
        <% end %>
      </ul>

      <div class="gallery">
        <div class="title">
          <p>Wine BnB gallery</p>
        </div>
        <div class="images">
          <a class="image-link" href="#">
            <div class="image" data-label="Our wines"><img src="https://cdn.pixabay.com/photo/2014/11/22/18/38/wine-541922_960_720.jpg" alt=""></div>
          </a>
          <a class="image-link" href="#">
            <div class="image" data-label="Our events"><img src="https://cdn.pixabay.com/photo/2016/03/27/18/53/drinks-1283608__340.jpg" alt=""></div>
          </a>
          <a class="image-link" href="#">
            <div class="image" data-label="Our winemakers"><img src="https://cdn.pixabay.com/photo/2016/09/10/13/34/grapes-1659118__340.jpg" alt=""></div>
          </a>
          <a class="image-link" href="#">
            <div class="image" data-label="For more sharing"><img src="https://cdn.pixabay.com/photo/2012/07/26/20/55/barrels-52934__340.jpg" alt=""></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
