<section>
  <div class="container">
    <div class="carousel">
      <input type="radio" name="slides" checked="checked" id="slide-1">
      <input type="radio" name="slides" id="slide-2">
      <input type="radio" name="slides" id="slide-3">
      <input type="radio" name="slides" id="slide-4">
      <input type="radio" name="slides" id="slide-5">
      <input type="radio" name="slides" id="slide-6">

      <ul class="carousel__slides">
        <% @teachers.each do |t|   %>
          <li class="carousel__slide">
            <figure>
              <div>
                <%= image_tag t.picture %>
              </div>
              <figcaption>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span class="credit">Teachers: <%= t.first_name.capitalize %> <%= t.last_name.capitalize %> </span>
                <main>
                  <%= link_to 'About Me', teacher_path(t), class: 'button span', style: 'text-decoration: none; color: black; font-size: 20px'  %>
                </main>
              </figcaption>
            </figure>
          </li>
        <% end %>
      </ul>
      <ul class="carousel__thumbnails">
          <% count = 1 %>
        <% @teachers.each do |t| %>
          <li>
            <label for="slide-<%= count %>"><%= image_tag t.picture %></label>
          </li>
          <% count += 1 %>
        <% end %>
      </ul>
    </div>
  </div>
</section>
