<div class="formnewT" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://cdn.pixabay.com/photo/2014/11/22/18/38/wine-541922_960_720.jpg')">
  <div class="card-container" >
    <div class="card-my-booking u-clearfix">
      <div class="card-body">
        <span class="card-number card-circle subtle">W</span>

        <h2 class="card-title">Welcome to WineBnB</h2>
        <span class="card-description subtle">Create your oenologist profile in 2 minutes</span>
        <div class="card-read">
          <%= simple_form_for @teacher do |f| %>
            <%= f.input :photo, label: 'Add your picture', as: :file %>
            <%= f.input :feature, label: 'Main skills', placeholder: 'Wines of Bordeaux' %>
            <%= f.input :price, label: "Rate per half day" %>
            <%= f.submit "Register", class: 'btn btn-flat'%>
          <% end %>
          <%= link_to "Back to oenologists", teachers_path %>
        </div>
        <span class="card-tag card-circle subtle">W</span>
      </div>
      <img src="https://images.unsplash.com/photo-1566995541428-f2246c17cda1?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064" alt="" class="card-media" />
    </div>
    <div class="card-shadow"></div>
  </div>
</div>
<%= render 'shared/footer' %>
