<!DOCTYPE html>
<html>
  <head>
    <title>WINEBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>

  <div class="nav-custom">

    <input type="checkbox" id="burger-toggle">
    <label for="burger-toggle" class="burger-menu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>

    <div class="menu">
      <div class="menu-inner">
        <ul class="menu-nav">
          <% if user_signed_in? %>
            <li class="menu-nav-item"><%= link_to "Home", root_path, class: "menu-nav-link" %>
            </li>
            <li class="menu-nav-item"><%= link_to "Dashboard", "#", class: "menu-nav-link" %>
            </li>
            <li class="menu-nav-item"><%= link_to "Create Event", "#", class: "menu-nav-link" %>
            </li>
            <li class="menu-nav-item"><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "menu-nav-link" %>
            </li>
          <% else %>
            <li class="menu-nav-item"><%= link_to "Login", new_user_session_path, class: "menu-nav-link" %>
            </li>
          <% end %>
        </ul>

          <div class="gallery">
            <div class="title">
              <p>Wine BnB gallery</p>
            </div>
            <div class="images">
              <a class="image-link" href="#">
                <div class="image" data-label="Our wines"><img src="https://cdn.pixabay.com/photo/2014/11/22/18/38/wine-541922_960_720.jpg" alt=""></div>
              </a>
              <a class="image-link" href="#">
                <div class="image" data-label="Our events"><img src="https://cdn.pixabay.com/photo/2016/03/27/18/53/drinks-1283608__340.jpg" alt=""></div>
              </a>
              <a class="image-link" href="#">
                <div class="image" data-label="Our winemakers"><img src="https://cdn.pixabay.com/photo/2016/09/10/13/34/grapes-1659118__340.jpg" alt=""></div>
              </a>
              <a class="image-link" href="#">
                <div class="image" data-label="For more sharing"><img src="https://cdn.pixabay.com/photo/2012/07/26/20/55/barrels-52934__340.jpg" alt=""></div>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <%= yield %>

  <footer class="container-fluid bg-grey py-5">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 ">
                  <div class="logo-part">
                      <img src="https://i.ibb.co/sHZz13b/logo.png" class="w-50 logo-footer" >
                      <p>16 Villa Gaudelet 75011 Paris</p>
                  </div>
                </div>
                <div class="col-md-6 px-4">
                  <h6> About Company</h6>
                  <%#= link to "More Info", "#", class: "btn-footer" %>
                  <%#= link to "Contact Us", "#", class: "btn-footer" %>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">

              <div class="col-md-6 ">
                <h6> Newsletter</h6>
                  <div class="social">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </footer>


  </body>
</html>
